/* RESET BASICO */
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Lilita+One&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-color: yellow;
    width: 100%;
    overflow-x: hidden;
}

/* HEADER */
header{
    color: #ff8fab;
    padding: 40px 20px;
    font-family: 'Changa One', sans-serif;
}

/* MENU */
nav{
    background-color:#ff8fab;
    width: 100%;
    padding: 10px;
}

nav a{
    text-decoration: none;
    color: black;
    display: inline-block;
    margin: 10px;
    padding: 15px 25px;
    background-color: rgb(236, 236, 42);
    border-radius: 15px;
    transition: 0.3s;
}

nav a:hover{
    background-color: rgb(243, 243, 96);
    transform: scale(1.05);
}

/* PERSONAGENS */
#Personagens{
    background-image: url(./imagens/banner_Smiling_Friends.jpg);
    background-size: cover;
    background-position: center;
    padding: 30px 10px;
}

#Personagens h2{
    font-family: 'Changa One', sans-serif;
    color: rgb(238, 56, 56);
    margin-bottom: 20px;
}

/* CONTAINER DOS CARDS */
.personagens-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* CARD */
.cart{
    width: 220px;
    padding: 10px;
    border-radius:15px;
    background-color: #ff8fab;
    text-align: center;
    transition: 0.3s;
}

.cart:hover{
    transform: translateY(-10px);
}

.cart img{
    width: 100%;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
}

/* COADJUVANTES */
#seção-coadjuvantes{
    margin-top: 30px;
    background-color: rgb(81, 81, 255);
    padding: 20px;
}

/* CONTAINER */
.coadjuvantes-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* CARD COADJUVANTES */
.coadjuvantes{
 
    width: 560px;
    max-width: 100%;
    border-radius: 10px;
 
    background-color: rgb(108, 108, 255);
 
    padding: 20px;
}

.coadjuvantes img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* ========================= */
/* RESPONSIVIDADE */
/* ========================= */

/* TABLET */
@media (max-width: 768px){

    nav a{
        display: block;
        margin: 10px auto;
        width: 80%;
    }

    .cart{
        width: 45%;
    }

    .coadjuvantes{
        width: 90%;
    }
}

/* CELULAR */
@media (max-width: 480px){

    header{
        font-size: 20px;
        padding: 20px;
    }

    .cart{
        width: 90%;
    }

    nav a{
        width: 90%;
        padding: 12px;
    }

    #Personagens h2{
        font-size: 24px;
    }
}